.points {
  font-family: Futura-Book, Arial, sans-serif;
  font-size: 50px;
  color: #fff;

  span{
    font-family: Futura-Light, Arial, sans-serif;
    font-size: 20px;
  }
}

.points-container {
  .chart-container {
    flex-direction: column;
    align-items: center;
  }
}



.bug-credit{
  color: #fff;
  padding: 20px;
  font-size: 73px;
}

.credit-tag{
  font-size: 20px;
}

.dashboard{
  display: flex;
  background: grey;
  height: 200px;
  align-items: center;
}
.dashboard{
  background:grey;
  height: 200px;
}

.avatar{
  width: 150px;
  height: 150px;
    background: url('../../images/avatar.png');

}
