.home-tabs {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background: #6a7bab;

  a {
    flex-grow: 1;
    color: #ffffff;
    text-decoration: none;
    font-family: Futura-Light, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #ffffff;

    &:first-child {
      border-left: none;
    }

    &.active {
      background: #1f2549;
    }

    &:hover {
      opacity: .6;
    }
    svg {
      display: block;
      margin-bottom: 5px;
    }
  }
}